body {
<<<<<<< HEAD
    background-color: rgb(41, 28, 28);
=======
    background-color: black;
>>>>>>> main
}
h1 {
    color: blue;
    font-size: 45px;
}
p {
    color: chartreuse;
    font-size: 30px;
}
ul {
    color: aliceblue;
}